html,
body {
    height: 100%;
    background-color: #42a5f5;
}

img {
    width: 80%;
    height: auto;
}

p {
    font-size: 20px;
}

#search_icon {
    position: relative;
    bottom: 12px;
    left: 19px;
}

#food_info {
    transition: background-color 0.5s ease;
}

/*
  When creating your CSS selector,
  change "brown" to something of your choosing
  */
.waves-effect.waves-blue .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(33, 150, 243, 0.65);
}

#description_card {
    background-color: rgba(255, 255, 255, 0.5) !important;
}
